GROQ_API_KEY =

# Database configuration

DB_USER=
DB_HOST=
DB_NAME=
DB_PASSWORD=
DB_PORT=

FRONTEND_ORIGIN=http://localhost:5173

API_URL=http://localhost:5000

# JWT secret for token generation (if using JWT for authentication)

JWT_SECRET=

# Server port (optional, if you want to configure the server's port from .env)

PORT=

# API key for email

SENDGRID_API_KEY=

# Email sender address (set this correctly in your SendGrid account)

SENDER_EMAIL=
